{# Toggle sorting order on a specific field. #}
{% macro sort(field, title_header=None) -%}
  {% set sort = request.args.get('sort', None) %}
  {% set order = request.args.get('order', 'asc') %}
  {% set q = request.args.get('q', '') %}

  {% if title_header == None %}
    {% set label = field | title %}
  {% else %}
    {% set label = title_header %}
  {% endif %}

  {% if sort == field and order == 'asc' %}
    {% set order = 'desc' %}
  {% else %}
    {% set order = 'asc' %}
  {% endif %}

  {% if sort == field %}
    {% set css = order %}
  {% else %}
    {% set css = 'sort' %}
  {% endif %}

  <a class="{{ css }}" href="{{ url_for(request.endpoint,
                                        q=q,
                                        sort=field,
                                        order=order,
                                        **request.view_args) }}">{{ label }}</a>
{%- endmacro %}


{# Paginate through a resource. #}
{% macro paginate(resource) -%}
  {% set args = request.args.to_dict() %}

  <ul class="pagination">
    <li class="{{ 'disabled' if resource.page == 1 }}">
      {% if resource.page == 1 %}
        <a aria-label="First">
      {% else %}
        <a href="{{ url_for(request.endpoint, page=1, **args) }}"
            aria-label="First">
      {% endif %}
        &laquo; First
      </a>
    </li>
    <li class="{{ 'disabled' if not resource.has_prev }}">
      {% if not resource.has_prev %}
        <a aria-label="Previous">
      {% else %}
        <a href="{{ url_for(request.endpoint, page=resource.page - 1, **args) }}"
            aria-label="Previous">
      {% endif %}
        Prev
      </a>
    </li>
  {%- for page in resource.iter_pages() %}
    <li class="{{ 'active' if page and page == resource.page }}">
      {% if page %}
        {% if page != resource.page %}
          <a href="{{ url_for(request.endpoint, page=page, **args) }}">{{ page }}</a>
        {% else %}
          <span class="text-muted">{{ page }}</span>
        {% endif %}
      {% else %}
        <span class="ellipsis">…</span>
      {% endif %}
    </li>
  {%- endfor %}
    <li class="{{ 'disabled' if not resource.has_next }}">
      {% if not resource.has_next %}
        <a aria-label="Next">
      {% else %}
        <a href="{{ url_for(request.endpoint, page=resource.page + 1, **args) }}"
            aria-label="Next">
      {% endif %}
        Next
      </a>
    </li>
    <li class="{{ 'disabled' if resource.page == resource.pages }}">
    {% if resource.page == resource.pages %}
      <a aria-label="Last">
    {% else %}
      <a href="{{ url_for(request.endpoint, page=resource.pages, **args) }}"
          aria-label="Last">
    {% endif %}
        Last &raquo;
      </a>
    </li>
  </ul>
{%- endmacro %}
