{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Users{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-users fa-fw"></i> Users</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 pull-left">
                {{ f.search('user.users') }}
            </div>
            <div class="col-lg-8">
                <div class="pull-right">
                    {{ items.paginate(paginator) }}
                </div>
            </div>
        </div>
        {% if not users %}
            <h3>No results found</h3>
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered  table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="col-header">{{ items.sort('id', 'Id') }}</th>
                                <th class="col-header">{{ items.sort('fullname', 'Fullname') }}</th>
                                <th class="col-header">{{ items.sort('email', 'Email') }}</th>
                                <th class="col-header">{{ items.sort('role', 'Role') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><a data-toggle="tooltip" data-placement="top" title="{{ user.id }}">{{ user.id[:7] }}...</a></td>
                                    <td><a href="{{ url_for('user.profile', q=user.fullname, user_id=user.id) }}">
                                        {{ user.fullname }}</a></td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role|default('-', true) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        {{ items.paginate(paginator) }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </div>
        {% endif %}

{% endblock %}
