{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Synset History{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header"><i class="fa fa-sitemap fa-fw"></i> Synset History</h3>
            </div>
        </div>
        <div class="row margin-bottom-15">
            <div class="col-sm-12">
                {% call f.form_tag('synset.synsets_history', css_class='form-inline', method='get') %}

                    <div class="input-group input-group-sm date" id='date_from'>
                        <input id="date_from" name="date_from" type="text" class="form-control"
                               placeholder="Changes From" value="{{ request.args.get('date_from', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="input-group input-group-sm date" id='date_to'>
                        <input id="date_to" name="date_to" type="text" class="form-control" placeholder="Changes To"
                               value="{{ request.args.get('date_to', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <select class="form-control" id="users" name="user">
                            <option value=""  {% if request.args.get('user', '') == '' %}selected{% endif %}>Select User</option>
                            {% for u in users %}
                                {% if u is not none and u != '' %}
                                    <option {% if request.args.get('user', '') == u %}
                                        selected
                                    {% endif %}>{{ u }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <input class="form-control" id="synset_id" name="synset_id" placeholder="Synset ID" type="text"
                               value="{{ request.args.get('synset_id', '') }}">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search</button>
                {% endcall %}
            </div>
        </div>
        {% if synsets['pages'] == 0 %}
            <h3>No results found</h3>
            <p>Try limiting or removing your search terms.</p>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center" scope="colgroup">Revision</th>
                                <th rowspan="2" class="text-center" scope="colgroup">Audit Log</th>
                                <th rowspan="2" class="text-center" scope="colgroup">Operation</th>
                                <th colspan="5" class="text-center" scope="colgroup">Synset</th>
                            </tr>
                            <tr>
                                <th scope="col" class="col-header">ID</th>
                                <th scope="col" class="col-header">Units</th>
                                <th scope="col" class="col-header">Abstract</th>
                                <th scope="col" class="col-header">Lexicon</th>
                                <th scope="col" class="col-header">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for synset in synsets['synsets'] %}
                                {% if synset['operation'] == 1 %}
                                    <tr class="info">
                                    {% set rowsp = 2 %}
                                {% elif synset['operation'] == 0 %}
                                    <tr class="success">
                                    {% set rowsp = 1 %}
                                {% elif synset['operation'] == 2 %}
                                    <tr class="danger">
                                    {% set rowsp = 1 %}
                                {% endif %}
                            <td rowspan="{{ rowsp }}">{{ synset['rev_id'] }}</td>
                            <td rowspan="{{ rowsp }}">
                                <div class="text-center small-log bold-log">
                                    {{ synset['editor'] }}
                                </div>
                                <div class="text-center small-log">
                                    {{ synset['datetime'] }}
                                </div>
                            </td>
                            <td rowspan="{{ rowsp }}">
                            <div class="text-center">
                                {% if synset['operation'] == 1 %}
                                    <span class="label label-info">Modified</span>
                                {% elif synset['operation'] == 0 %}
                                    <span class="label label-success">Created</span>
                                {% elif synset['operation'] == 2 %}
                                    <span class="label label-danger">Removed</span>
                                {% endif %}
                            </div>
                            </td>
                            <td rowspan="{{ rowsp }}">
                                <a href="{{ url_for('synset.synset_by_id', id=synset['id']) }}"> {{ synset['id'] }}</a>
                            </td>
                            <td rowspan="{{ rowsp }}">
                                {% if "unit_strings" in synset %}
                                    {{ synset['unit_strings'] }}
                                {% endif %}
                            </td>

                            {%  if rowsp == 2 %}
                                {% set st_bg ="style=background-color:#EEE"  %}
                            {%  else %}
                                {% set st_bg=''  %}
                            {% endif %}
                            <td {{ st_bg }}>
                                {% if "abstract" in synset %}
                                    {{ synset['abstract'] }}
                                {% endif %}
                            </td>
                            <td {{ st_bg }}>
                                {% if "lexicon" in synset %}
                                    {{ synset['lexicon'] }}
                                {% endif %}
                            </td>
                            <td {{ st_bg }}>
                                {% if "status" in synset %}
                                    <span class="label {{ status[synset['status']|string]['tag'] }}">{{ status[synset['status']|string]['value']}}</span>
                                {% endif %}
                            </td>
                            </tr>
                                {% if rowsp == 2 %}
                                    <tr>
                                        <td class="info">{% if "before_abstract" in synset %} {{ synset['before_abstract'] }} {% endif %}</td>
                                        <td class="info">{% if "before_lexicon" in synset %} {{ synset['before_lexicon'] }} {% endif %}</td>
                                        <td class="info">{% if "before_status" in synset %} <span class="label {{ status[synset['before_status']|string]['tag'] }}">{{ status[synset['before_status']|string]['value']}}</span> {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        {{ items.paginate(synsets) }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </div>
        {% endif %}

{% endblock %}