{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}

{% block title %}Synset{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header"><i class="fa fa-sitemap fa-fw"></i> Synset</h3>
            </div>
        </div>
        <div class="row margin-bottom-15">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-th-list"></i> Synset Properties
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td class="col-sm-3 text-right">Id</td>
                                    <td>{{ synset['id'] }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Definition</td>
                                    <td>{% if "definition" in synset %} {{ synset['definition'] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Comment</td>
                                    <td>{% if "comment" in synset %} {{ synset['comment'] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Abstract</td>
                                    <td>{% if "abstract" in synset %} {{ synset['abstract'] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Owner</td>
                                    <td>{% if "owner" in synset %} {{ synset['owner'] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Units String</td>
                                    <td>{% if "unit_strings" in synset %} {{ synset['unit_strings'] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Status</td>
                                    <td>
                                        {% if "status" in synset %}
                                            <span class="label {{ status[synset['status']|string]['tag'] }}">{{ status[synset['status']|string]['value'] }}</span>
                                            </td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td class="text-right">Status Error Comment</td>
                                    <td>{% if "error_comment" in synset %}
                                        {{ synset['error_comment'] }} {% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-th-list"></i> Synset History
                    </div>
                    <div class="panel-body">
                        {% if synset_history|length == 0 %}
                            <h5 class="text-center">No synset history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Definition</th>
                                        <th class="text-center">Comment</th>
                                        <th class="text-center">Abstract</th>
                                        <th class="text-center">Owner</th>
                                        <th class="text-center">Units String</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in synset_history %}
                                        <tr>
                                            <td>
                                                <div class="text-center small-log bold-log">{{s['editor'] }}</div>
                                                <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ s['timestamp'] }}">{{ s['timestamp'] }}</time>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                {% if s['operation'] == 0 %}
                                                    <span class="label label-success">Created</span>
                                                {% elif s['operation'] == 2 %}
                                                    <span class="label label-danger">Removed</span>
                                                {% elif s['operation'] == 1 %}
                                                    <span class="label label-info">Modified</span>
                                                {% endif %}
                                                </div>
                                            </td>
                                            <td>{% if "definition" in s %} {{ s['definition'] }} {% endif %}</td>
                                            <td>{% if "comment" in s %} {{ s['comment'] }} {% endif %}</td>
                                            <td>{% if "abstract" in s %} {{ s['abstract'] }} {% endif %}</td>
                                            <td>{% if "owner" in s %} {{ s['owner'] }} {% endif %}</td>
                                            <td>{% if "unit_strings" in s %} {{ s['unit_strings'] }} {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-object-group"></i> Senses
                    </div>
                    <div class="panel-body">
                        {% if senses|length == 0 %}
                            <h5 class="text-center">Empty synset</h5>
                        {% else %}
                            <div class="list-group">
                                {% for s in senses %}
                                    <a href="{{ url_for('sense.sense_by_id', id=s['sense_id']) }}" class="list-group-item">
                                        {{ s['lemma'] }}
                                        <span class="pull-right text-muted small"><em>{{ pos[s['part_of_speech']|string] }}</em>
                                    </span>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-object-group"></i> Senses History
                    </div>
                    <div class="panel-body">
                        {% if senses_history|length == 0 %}
                            <h5 class="text-center">No sense history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Sense</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in senses_history %}
                                        <tr>
                                            <td>
                                                <div class="text-center small-log bold-log"> {{s['editor'] }} </div>
                                                <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ s['timestamp'] }}">{{ s['timestamp'] }}</time>
                                            </div>
                                            </td>
                                            <td>
                                                 <div class="text-center">
                                                {% if s['operation'] == 0 %}
                                                    <span class="label label-success">Attached Sense</span>
                                                {% elif s['operation'] == 2 %}
                                                    <span class="label label-danger">Detached Sense</span>
                                                {% endif %}</td>
                                            <td>
                                                {% if "id" in s and "lemma" in s %}
                                                    <a href="{{ url_for('sense.sense_by_id', id=s['id']) }}"> {{ s['lemma'] }}</a>
                                                {% endif %}
                                            </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                     </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-in"></i> Incoming Relations
                    </div>
                    <div class="panel-body">
                        {% if incoming_rel|length == 0 %}
                            <h5 class="text-center">No incoming relations found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in incoming_rel %}
                                        <tr>
                                            <td>{{ r['relation_name'] }}</td>
                                            <td>
                                                <a href="{{ url_for('synset.synset_by_id', id=r['synset_id']) }}"> {{ r['synset_name'] }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-in"></i> Incoming Relations History
                    </div>
                    <div class="panel-body">
                        {% if incoming_history|length == 0 %}
                            <h5 class="text-center">No incoming relations history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in incoming_history %}
                                        <tr>
                                             <td>
                                            <div class="text-center small-log bold-log">
                                                {{ r['editor'] }}
                                            </div>
                                            <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ r['timestamp'] }}">{{ r['timestamp'] }}</time>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="text-center">
                                                {% if r['operation'] == 0 %}
                                                 <span class="label label-success">Created</span>
                                                {% elif r['operation'] == 1 %}
                                                     <span class="label label-info">Modified</span>
                                                {% elif r['operation'] == 2 %}
                                                     <span class="label label-danger">Removed</span>
                                                {% endif %}
                                            </div>
                                            </td>
                                            <td>{{ r['relation_name'] }}</td>
                                            <td>
                                                {% if "synset_id" in r %}
                                                    <a href="{{ url_for('synset.synset_by_id', id=r['synset_id']) }}"> {{ r['synset_units'] }}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-out"></i> Outgoing Relations
                    </div>
                    <div class="panel-body">
                        {% if outgoing_rel|length == 0 %}
                            <h5 class="text-center">No outgoing relations found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in outgoing_rel %}
                                        <tr>
                                            <td>{{ r['relation_name'] }}</td>
                                            <td>
                                                <a href="{{ url_for('synset.synset_by_id', id=r['synset_id']) }}"> {{ r['synset_name'] }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-out"></i> Outgoing Relations History
                    </div>
                    <div class="panel-body">
                        {% if outgoing_history|length == 0 %}
                            <h5 class="text-center">No outgoing relations history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in outgoing_history %}
                                        <tr>
                                            <td>
                                            <div class="text-center small-log bold-log">
                                                {{ r['editor'] }}
                                            </div>
                                            <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ r['timestamp'] }}">{{ r['timestamp'] }}</time>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="text-center">
                                            {% if r['operation'] == 0 %}
                                                <span class="label label-success">Created</span>
                                            {% elif r['operation'] == 2 %}
                                                <span class="label label-danger">Removed</span>
                                            {% endif %}
                                            </div>
                                            </td>
                                            <td>{{ r['relation_name'] }}</td>
                                            <td>
                                                {% if "synset_id" in r %}
                                                    <a href="{{ url_for('synset.synset_by_id', id=r['synset_id']) }}"> {{ r['synset_units'] }}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}