{% extends 'layouts/app.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-header"><i class="fa fa-sitemap fa-fw"></i> {{
                title }}</h3>
        </div>
    </div>
    <div class="row margin-bottom-15">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Download</td>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{url_for('tracker_admin.admin_query', pk=d.id)}}">{{
                            d.name }}</a></td>
                    <td>
                        <div class="col-sm-1 text-center">
                            <a href="{{url_for('tracker_admin.admin_query_csv', pk=d.id)}}">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
