{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}

{% block title %}Sense{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-header"><i class="fa fa-object-group fa-fw"></i> Sense</h3>
        </div>
    </div>
    <div class="row margin-bottom-15">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i> Sense Properties
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td class="col-sm-4 text-right">Id</td>
                                <td>{{ sense['id'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Lemma</td>
                                <td>{{ sense['lemma'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Variant</td>
                                <td>{% if "variant" in sense %} {{ sense['variant'] }} {% endif %} </td>
                            </tr>
                            <tr>
                                <td class="text-right">Part of speech</td>
                                <td>{% if "part_of_speech" in sense %} <span class="label label-default">{{ pos[sense['part_of_speech']|string] }} </span> {% endif %}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Domain</td>
                                <td>{% if "domain" in sense %} {{ domain[sense['domain']|string] }} {% endif %} </td>
                            </tr>
                            <tr>
                                <td class="text-right">Aspect</td>
                                <td>{% if "verb_aspect" in sense %} {{ aspect[sense['verb_aspect']|string] }} {% endif %}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Comment</td>
                                <td>{% if "comment" in sense %} {{ sense['comment'] }} {% endif %} </td>
                            </tr>
                            <tr>
                                <td class="text-right">Owner</td>
                                <td>{% if "owner" in sense %} {{ sense['owner'] }} {% endif %}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Status</td>
                                <td>{% if "status" in sense %} <span class="label {{ status[sense['status']|string]['tag'] }}">{{ status[sense['status']|string]['value'] }} {% endif %}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Status Error Comment</td>
                                <td>{% if "error_comment" in sense %} {{ sense['error_comment'] }} {% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i> Sense History
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Audit Log</th>
                                <th class="text-center">Operation</th>
                                <th class="text-center">Lemma</th>
                                <th class="text-center">Variant</th>
                                <th class="text-center">Part of speech</th>
                                <th class="text-center">Domain</th>
                                <th class="text-center">Comment</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in sense_history %}
                            <tr>
                                <td>
                                    <div class="text-center small-log bold-log">
                                        {{ s['editor'] }}
                                    </div>
                                    <div class="text-center small-log">
                                        <time class="short-date"
                                              data-datetime="{{ s['datetime'] }}">{{ s['datetime'] }}
                                        </time>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        {% if s['operation'] == 0 %}
                                            <span class="label label-success">Created</span>
                                        {% elif s['operation'] == 1 %}
                                            <span class="label label-info">Modified</span>
                                        {% elif s['operation'] == 2 %}
                                            <span class="label label-danger">Removed</span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{% if "lemma" in s %} {{ s['lemma'] }} {% endif %}</td>
                                <td>{% if "variant" in s %} {{ s['variant'] }} {% endif %}</td>
                                <td>{% if "part_of_speech" in s %} <span class="label label-default">{{ pos[s['part_of_speech']|string] }}</span> {% endif %} </td>
                                <td>{% if "domain" in s %} {{ domain[s['domain']|string] }} {% endif %}</td>
                                <td>{% if "comment" in s %} {{ s["comment"] }} {% endif %}</td>
                                <td>{% if "status" in s %} <span class="label {{ status[s["status"]|string]['tag'] }}">{{ status[s["status"]|string]['value'] }} </span>{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-sign-in"></i> Incoming Relations
                </div>
                <div class="panel-body">
                    {% if incoming_rel|length == 0 %}
                    <h5 class="text-center">No incoming relations found</h5>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Relation</th>
                                <th class="text-center">Sense</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in incoming_rel %}
                            <tr>
                                <td>{{ r['relation_name'] }}</td>
                                <td>
                                    <a href="{{ url_for('sense.sense_by_id', id=r['sense_id']) }}"> {{ r['sense_name'] }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-sign-in fa-fw"></i> Incoming Relations History
                </div>
                <div class="panel-body">
                    {% if incoming_history|length == 0 %}
                    <h5 class="text-center">No incoming relations history found</h5>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Audit Log</th>
                                <th class="text-center">Operation</th>
                                <th class="text-center">Relation</th>
                                <th class="text-center">Sense</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in incoming_history %}
                            <tr>
                                <td>
                                    <div class="text-center small-log bold-log">
                                        {{ r['editor'] }}
                                    </div>
                                    <div class="text-center small-log">
                                        <time class="short-date"
                                              data-datetime="{{ r['datetime'] }}">{{ r['datetime'] }}
                                        </time>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        {% if r['operation'] == 0 %}
                                             <span class="label label-success">Created</span>
                                        {% elif r['operation'] == 1 %}
                                             <span class="label label-info">Modified</span>
                                        {% elif r['operation'] == 2 %}
                                             <span class="label label-danger">Removed</span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ r['relation_name'] }}</td>
                                <td>
                                    <a href="{{ url_for('sense.sense_by_id', id=r['sense_id']) }}"> {{ r['sense_name'] }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-sign-out fa-fw"></i> Outgoing Relations
                </div>
                <div class="panel-body">
                    {% if outgoing_rel|length == 0 %}
                    <h5 class="text-center">No outgoing relations found</h5>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Relation</th>
                                <th class="text-center">Sense</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in outgoing_rel %}
                            <tr>
                                <td>{{ r['relation_name'] }}</td>
                                <td>
                                    <a href="{{ url_for('sense.sense_by_id', id=r['sense_id']) }}"> {{ r['sense_name'] }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-sign-out fa-fw"></i> Outgoing Relations History
                </div>
                <div class="panel-body">
                    {% if outgoing_history|length == 0 %}
                    <h5 class="text-center">No outgoing relations history found</h5>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Audit Log</th>
                                <th class="text-center">Operation</th>
                                <th class="text-center">Relation</th>
                                <th class="text-center">Sense</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in outgoing_history %}
                            <tr>
                                <td>
                                    <div class="text-center small-log bold-log">
                                        {{ r['editor'] }}
                                    </div>
                                    <div class="text-center small-log">
                                        <time class="short-date"
                                              data-datetime="{{ r['datetime'] }}">{{ r['datetime'] }}
                                        </time>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        {% if r['operation'] == 0 %}
                                             <span class="label label-success">Created</span>
                                        {% elif r['operation'] == 1 %}
                                             <span class="label label-info">Modified</span>
                                        {% elif r['operation'] == 2 %}
                                             <span class="label label-danger">Removed</span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ r['relation_name'] }}</td>
                                <td>
                                    <a href="{{ url_for('sense.sense_by_id', id=r['sense_id']) }}"> {{ r['sense_name'] }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-heart fa-fw"></i> Emotional Annotation
                </div>
                <div class="panel-body">
                    {% if emotional == {} %}
                    <h5 class="text-center">No emotional annotation found</h5>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Super annotation</th>
                                <th class="text-center">Emotional characteristic</th>
                                <th class="text-center">Emotions</th>
                                <th class="text-center">Valuations</th>
                                <th class="text-center">Markedness</th>
                                <th class="text-center">Example 1</th>
                                <th class="text-center">Example 2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{% if "super_annotation" in emotional %} {{ emotional['super_annotation'] }} {% endif %}</td>
                                <td>{% if "emotional_characteristic" in emotional %} {{ emotional['emotional_characteristic'] }} {% endif %}</td>
                                <td>{% if "emotions" in emotional %} {{ emotional['emotions'] }} {% endif %}</td>
                                <td>{% if "valuations" in emotional %} {{ emotional['valuations'] }} {% endif %}</td>
                                <td>{% if "markedness" in emotional %} {{ emotional['markedness'] }} {% endif %}</td>
                                <td>{% if "example1" in emotional %} {{ emotional['example1'] }} {% endif %}</td>
                                <td>{% if "example2" in emotional %} {{ emotional['example2'] }} {% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-heart fa-fw"></i> Emotional Annotation History
                </div>
                <div class="panel-body">
                    {% if emotional_history|length == 0 %}
                    <h5 class="text-center">No emotional annotation history found</h5>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Audit Log</th>
                                <th class="text-center">Operation</th>
                                <th class="text-center">Super annotation</th>
                                <th class="text-center">Emotional characteristic</th>
                                <th class="text-center">Emotions</th>
                                <th class="text-center">Valuations</th>
                                <th class="text-center">Markedness</th>
                                <th class="text-center">Example 1</th>
                                <th class="text-center">Example 2</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in emotional_history %}
                            <tr>
                                <td>
                                    <div class="text-center small-log bold-log">
                                        {{ e['editor'] }}
                                    </div>
                                    <div class="text-center small-log">
                                        <time class="short-date"
                                              data-datetime="{{ e['datetime'] }}">{{ e['datetime'] }}
                                        </time>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        {% if e['operation'] == 0 %}
                                             <span class="label label-success">Created</span>
                                        {% elif e['operation'] == 1 %}
                                             <span class="label label-info">Modified</span>
                                        {% elif e['operation'] == 2 %}
                                             <span class="label label-danger">Removed</span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{% if "super_annotation" in e %} {{ e['super_annotation'] }} {% endif %}</td>
                                <td>{% if "emotional_characteristic" in e %} {{ e['emotional_characteristic'] }} {% endif %}</td>
                                <td>{% if "emotions" in e %} {{ e['emotions'] }} {% endif %}</td>
                                <td>{% if "valuations" in e %} {{ e['valuations'] }} {% endif %}</td>
                                <td>{% if "markedness" in e %} {{ e['markedness'] }} {% endif %}</td>
                                <td>{% if "example1" in e %} {{ e['example1'] }} {% endif %}</td>
                                <td>{% if "example2" in e %} {{ e['example2'] }} {% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}